<div class="grid justify-content-center align-content-center gap-3">
  <div class="col-5 summarize-prize-buy flex flex-column p-3">
    <label class="label-field">{{'settlement.unrealizedProfit.investmentPrice' | translate}}</label>
    <span class="span-field">
      {{collectedBuyPrizes | currency:'PLN':'symbol-narrow': '2.0'}}
    </span>
  </div>
  <div class="col-5 summarize-prize-in flex flex-column p-3">
    <label class="label-field">{{'settlement.unrealizedProfit.currentInvestmentPrice' | translate}}</label>
    <span class="span-field">
      {{collectedCurrentPrizes | currency:'PLN':'symbol-narrow': '2.0'}}
    </span>
  </div>
</div>
 <p-accordion class="w-full max-w-md">
    <p-accordion-panel value="0">
        <p-accordion-header>{{'settlement.unrealizedProfit.showDetails' | translate}}</p-accordion-header>
        <p-accordion-content>
                @for(unrealizedProfit of unrealizedProfitData; track unrealizedProfit.savingType) {
                  <div class="flex justify-content-center align-content-center gap-3 m-2">
                    <div class="summarize-prize-buy flex flex-column p-3">
                      <label class="label-field">{{'settlement.savingTypes.' + unrealizedProfit.savingType | translate}}</label>
                      <span class="span-field">
                        {{unrealizedProfit.buyPrice| currency:'PLN':'symbol-narrow': '2.0'}}
                      </span>
                    </div>
                    <div class="summarize-prize-in flex flex-column p-3">
                      <label class="label-field">{{'settlement.savingTypes.' + unrealizedProfit.savingType | translate}}</label>
                      <span class="span-field">
                        {{unrealizedProfit.currentPrice | currency:'PLN':'symbol-narrow': '2.0'}}
                      </span>
                    </div>
                  </div>
                }
        </p-accordion-content>
  </p-accordion-panel>
</p-accordion>