<app-form [formGroup]="formGroup!" (ngSubmit)="onSave()" (cancel)="onCloseDialog()">
  <app-form-grid form-body>
    <app-form-control [styleClass]="'col-12 flex align-items-center'">
      @for(settlementTypeData of settlementDataTypeToExtract; track settlementTypeData.key) {
        <div class="m-2">
          <p-radiobutton [inputId]="settlementTypeData.key" name="settlementTypeData" [value]="settlementTypeData" formControlName="dataType"/>
          <label [for]="settlementTypeData.key" class="ml-2">{{ settlementTypeData.name | translate }}</label>
        </div>
      }
    </app-form-control>
    <app-form-control [styleClass]="'col-12'">
            <p-datepicker appendTo="body" formControlName="dateRange" selectionMode="range" [readonlyInput]="true" [placeholder]="'global.buttons.chooseDateRange' | translate" />
    </app-form-control>
  </app-form-grid>
</app-form>