<div
  class="settlement-component"
  [ngClass]="getComponentStyle('component-price-')"
>
  <p-fieldset
    [legend]="(getTitle() | currency:'PLN':'symbol-narrow':'2.0')!"
    [toggleable]="true"
  >
    <div class="settlement-preview">

      <!-- Toolbar -->
      <div class="settlement-toolbar">
        <div class="settlement-search">
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search"></p-inputIcon>

            <input
              class="settlement-search-input"
              type="text"
              pInputText
              placeholder="Szukaj settlementu..."
              [(ngModel)]="searchInput"
              (input)="onFilterChange($event)"
            />
          </p-iconField>
        </div>

        <div class="settlement-actions">

          <p-button
            class="settlement-action settlement-action-add"
            icon="pi pi-plus"
            [rounded]="true"
            [text]="true"
            pTooltip="Dodaj"
            tooltipPosition="top"
            (onClick)="onButtonClick('add')"
          ></p-button>

          <p-button
            class="settlement-action settlement-action-edit"
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            [disabled]="!selectedSettlement"
            pTooltip="Edytuj"
            tooltipPosition="top"
            (onClick)="onButtonClick('edit')"
          ></p-button>

          <p-button
            class="settlement-action settlement-action-delete"
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            [disabled]="!selectedSettlement"
            pTooltip="Usuń"
            tooltipPosition="top"
            (onClick)="onButtonClick('delete')"
          ></p-button>

          @if (priceType === 'save') {
            <p-button
              class="settlement-action settlement-action-refresh"
              icon="pi pi-refresh"
              [rounded]="true"
              [text]="true"
              [disabled]="isRefreshDisabled()"
              pTooltip="Odśwież"
              tooltipPosition="top"
              (onClick)="onButtonClick('refresh')"
            ></p-button>

            <p-button
              class="settlement-action settlement-action-profit"
              icon="pi pi-chart-line"
              [rounded]="true"
              [text]="true"
              pTooltip="Niezrealizowany zysk"
              tooltipPosition="top"
              (onClick)="onButtonClick('unrealized-profit')"
            ></p-button>
          }
        </div>
      </div>

      <p-divider></p-divider>

      <!-- Settlement list -->
      <div class="settlement-list">

        <div
          *ngFor="let settlement of settlements"
          class="settlement-item"
          [ngClass]="
            settlement === selectedSettlement
              ? getComponentStyle('selected-settlement selected-price-')
              : ''
          "
          (click)="onSettlementSelected(settlement)"
        >

          <div class="settlement-description">

            <a
              *ngIf="settlement.linkUrl"
              class="settlement-link"
              (click)="goToLink(settlement.linkUrl); $event.stopPropagation()"
              pTooltip="Otwórz powiązany element"
              tooltipPosition="top"
            >
              <i class="pi pi-external-link"></i>
            </a>

            <span
              class="settlement-description-text"
              [class.settlement-description-with-link]="settlement.linkUrl"
            >
              {{ settlement.description }}
            </span>

          </div>

          <div
            class="settlement-price"
            [ngClass]="getComponentStyle('price-')"
          >
            <i
              class="settlement-price-icon"
              [ngClass]="getPriceIcon()"
            ></i>

            <span>
              {{
                settlement.price! * (settlement?.amount ?? 1)
                  | currency:'PLN':'symbol-narrow':'2.0'
              }}
            </span>
          </div>

        </div>

      </div>

    </div>
  </p-fieldset>
</div>