.summarize-prize-in {
  color: var(--uwb-price-in-light-color);
  border: 1px solid var(--uwb-price-in-light-color);
  border-radius: 14px;
}

.summarize-prize-out {
  color: var(--uwb-price-out-light-color);
  border: 1px solid var(--uwb-price-out-light-color);
  border-radius: 14px;
}

.summarize-prize-buy {
  color: var(--uwb-price-light-color);
  border: 1px solid var(--uwb-price-light-color);
  border-radius: 14px;
}
