<form #formRef="ngForm" (ngSubmit)="ngSubmit($event)" autocomplete="off" [formGroup]="formGroup!">
  <div class="modal-body">
    <ng-content select="[form-body]"></ng-content>
  </div>
  <div *ngIf="showSaveButton || showCancelButton" [ngClass]="footerButton ? 'modal-footer' : ''">
    <div class="buttons-container_center">
      <div *ngIf="showSaveButton" class="button_wrapper_text">
        <p-button
          styleClass="ui-button_size_125"
          icon="pi pi-check"
          type="submit"
          [disabled]="!!formRef.invalid || disabledButtonOption"
        ></p-button>
      </div>
      <div *ngIf="showCancelButton" class="button_wrapper_text">
        <p-button
          styleClass="ui-button_size_125"
          icon="pi pi-times"
          type="button"
          data-dismiss="modal"
          (onClick)="cancel.emit()"
        ></p-button>
      </div>
    </div>
  </div>
</form>
