<form #formRef="ngForm" (ngSubmit)="ngSubmit($event)" autocomplete="off" [formGroup]="formGroup!">
  <div class="modal-body">
    <ng-content select="[form-body]"></ng-content>
  </div>
  @if(showSaveButton || showCancelButton) {
    <div [ngClass]="footerButton ? 'modal-footer' : ''">
      <div class="buttons-container_center">
        @if (showSaveButton) {
          <div class="button_wrapper_text">
            <p-button
              styleClass="ui-button_size_125"
              icon="pi pi-check"
              type="submit"
              [disabled]="!!formRef.invalid || disabledButtonOption"
            ></p-button>
          </div>
        }
        @if (showCancelButton) {
          <div class="button_wrapper_text">
            <p-button
              styleClass="ui-button_size_125"
              [icon]="cancelIcon"
              type="button"
              data-dismiss="modal"
              severity="danger"
              (onClick)="cancel.emit()"
            ></p-button>
          </div>
        }
      </div>
    </div>
  }
</form>
