<app-form [formGroup]="formGroup!" (ngSubmit)="onSave()" (cancel)="onCloseDialog()">
  <app-form-grid form-body>
    <app-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <input pInputText id="description" formControlName="description" minlength="2" maxlength="100"/>
        <label htmlFor="description">{{ 'settlement.description' | translate }}</label>
      </span>
    </app-form-control>
    <app-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <input pInputText type="number" id="price" formControlName="price" minlength="2" maxlength="100"/>
        <label htmlFor="price">{{ 'settlement.price' | translate }}</label>
      </span>
    </app-form-control>
    <app-form-control [styleClass]="'col-6'">
      <span class="p-float-label">
        <p-calendar formControlName="date" view="month" dateFormat="mm/yy" appendTo="body" />
        <label htmlFor="date">{{ 'settlement.date' | translate }}</label>
      </span>
    </app-form-control>
    <app-form-control [styleClass]="'col-6'">
      <span class="p-float-label">
        <p-calendar formControlName="dateTo" view="month" dateFormat="mm/yy" appendTo="body" />
        <label htmlFor="dateTo">{{ 'settlement.toDate' | translate }}</label>
      </span>
    </app-form-control>
    <app-form-control [styleClass]="'col-12'">
      <span class="p-float-label">
        <p-dropdown
        formControlName="savingType"
        [options]="savingTypes"
        optionLabel="name"
        optionValue="value"
        appendTo="body"
         />
        <label htmlFor="savingType">{{ 'settlement.savingType' | translate }}</label>
      </span>
    </app-form-control>
    <app-form-control [styleClass]="'col-6'">
      <span class="p-float-label">
        <p-inputNumber mode="decimal" [minFractionDigits]="2" formControlName="percent" suffix="%" [min]="0"></p-inputNumber>
        <label htmlFor="percent">{{ 'settlement.percent' | translate }}</label>
      </span>
    </app-form-control>
    <app-form-control [styleClass]="'col-6'">
      <span class="p-float-label">
        <p-inputNumber mode="decimal" [minFractionDigits]="2" formControlName="percentPeriod" suffix="%" [min]="0"/>
        <label htmlFor="percentPeriod">{{ 'settlement.percentPeriod' | translate }}</label>
      </span>
    </app-form-control>
  </app-form-grid>
</app-form>

